<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<header class="main-header">
  <!-- Logo -->
  <a routerLink="/dashboard" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
      <b>HR</b>
    </span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
      <b>HR</b>CERTA</span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="../../assets/imagens/userAvatar.png" class="user-image" alt="User Image">
            <span class="hidden-xs">{{pessoa?.nome | nomeUsuario}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="../../assets/imagens/userAvatar.png" class="img-circle" alt="User Image">
              <p>
                {{pessoa?.nome | nomeUsuario}}
                <small>{{pessoa?.cargo}}</small>
              </p>
            </li>
            <!-- Menu Footer-->
            <div class="user-footer">
              <div class="col-xs-12">
                <a href="/logout" class="btn btn-primary btn-block btn-flat">Deslogar</a>
              </div>
            </div>
          </ul>
        </li>
      </ul>
    </div>

  </nav>
</header>