<div class="content-wrapper">

  <section class="content-header">
    <h1>
      Dashboard
      <small>Painel de Controle</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Dashboard</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Registrar Horário</h3>
          </div>

          <div class="box-body">
            <div class="row">
              <div class="col-sm-12" id="alertContainer"></div>    
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div style="margin-right:  30px">
                  <div style="text-align: right;">
                    <h3>{{ horaAtual }}</h3>
                    <p>{{ (dataAtual) }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div style="text-align: center">
                  <input type="text" class="inputHora" specialCharacters="[':']" [patterns]="customPatterns" mask="00:00" [ngModel]="parametros.entrada || '--:--'" (ngModelChange)="parametros.entrada = $event" [minlength]="tamMinimo" [disabled]="pontoDaVez != 'entrada'"/>
                  <p>Entrada</p>
                </div>
              </div>

              <div class="col-sm-3">
                <div style="text-align: center">
                  <!-- <h1>{{ parametros.pausaini ? (parametros.pausaini | date:'HH:mm:ss') : '--:--' }}</h1> -->
                  <input type="text" class="inputHora" specialCharacters="['-']"  [patterns]="customPatterns" mask="00:00" [ngModel]="parametros.pausaini || '--:--'" (ngModelChange)="parametros.pausaini = $event" [minlength]="tamMinimo" [disabled]="pontoDaVez != 'pausaini'"/>
                  <p>Pausa</p>
                </div>
              </div>

              <div class="col-sm-3">
                <div style="text-align: center">
                  <!-- <h1>{{ parametros.pausafim ? (parametros.pausafim | date:'HH:mm:ss') : '--:--' }}</h1> -->
                  <input type="text" class="inputHora" specialCharacters="['-']"  [patterns]="customPatterns" mask="00:00" [ngModel]="parametros.pausafim || '--:--'" (ngModelChange)="parametros.pausafim = $event" [minlength]="tamMinimo" [disabled]="pontoDaVez != 'pausafim'"/>
                  <p>Retorno</p>
                </div>
              </div>

              <div class="col-sm-3">
                <div style="text-align: center">
                  <!-- <h1>{{ parametros.saida ? (parametros.saida | date:'HH:mm:ss') : '--:--' }}</h1> -->
                  <input type="text" class="inputHora" specialCharacters="['-']"  [patterns]="customPatterns" mask="00:00" [ngModel]="parametros.saida || '--:--'" (ngModelChange)="parametros.saida = $event" [minlength]="tamMinimo" [disabled]="pontoDaVez != 'saida'"/>
                  <p>Saída</p>
                </div>
              </div>
            </div>
            <br>
            <div>
              <br>
              <div style="text-align: center; margin-bottom:  13%">
                <button type="submit" (click)="registrarPonto()" class="btn btn-flat btn-primary" id="registrarPontoButton">REGISTRAR PONTO</button>
              </div>
              <!-- <div style="margin-bottom:  13%"></div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
