<div class="content-wrapper">
  <section class="content-header">
    <h1>
      HoraCerta
      <small>Histórico de Registros</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">HoraCerta</li>
    </ol>
  </section>

  <section class="content" style="font-size: 13px">
    <!-- <div class="box box-default collapsed-box">
      <div class="box-header with-border">
        <h3 class="box-title">Filtro de Horas</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="col-md-3 col-sm-6">
                <label>Data inicial</label>
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="date" class="form-control pull-right">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-3 col-sm-6">
                  <label>Data final</label>
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="date" class="form-control pull-right">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <div style="float: right">
          <button type="button" (click)="pesquisarVendas()" class="btn btn-primary" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Aguarde...">Consultar</button>
        </div>
        <div style="float: right">
          <button type="button" *ngIf="habilitarBotao" (click)="reenviarVendas()" class="btn btn-primary"
            data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Aguarde...">Reenviar</button>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Resultado</h3>
          </div>

          <div class="box-body">
            <div class="dataTables_wrapper form-inline dt-bootstrap">
              <div class="row">
                <div class="col-sm-6">
                  <div class="dataTables_length" id="example1_length">
                    <label>
                      <select name="example1_length" aria-controls="example1" class="form-control input-sm" [(ngModel)]="qtdPorPagina"
                        (change)="paginar(1)">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select> resultados por página</label>
                  </div>
                </div>
                <div class="col-sm-6" style="text-align:right">
                  <div id="example1_filter" class="dataTables_filter">
                    <label>Pesquisar:
                      <input type="text" class="form-control input-sm" placeholder="" aria-controls="example1">
                    </label>
                  </div>
                </div>
              </div>
              <div class="table-responsive">

                <table id="tabela" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th class="text-center">Data Referência</th>
                      <th class="text-center">Entrada</th>
                      <th class="text-center">Saída Intervalo</th>
                      <th class="text-center">Volta Intervalo</th>
                      <th class="text-center">Saída</th>
                      <th class="text-center">Saldo</th>
                      <th class="text-center">Editar</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let h of popularTabela(registros)">
                      <td class="text-center">{{ h.dataRegistro | date:'dd/MM/yyyy' }}</td>
                      <td class="text-center">{{ h.entrada | date:'HH:mm:ss' }}</td>
                      <td class="text-center">{{ h.pausaini | date:'HH:mm:ss'}}</td>
                      <td class="text-center">{{ h.pausafim | date:'HH:mm:ss' }}</td>
                      <td class="text-center">{{ h.saida | date:'HH:mm:ss' }}</td>
                      <td class="text-center">{{ h.saldo | saldo }}</td>
                      <td> <i class="fa fa-fw fa-edit" data-toggle="modal" data-target="#modal-default"></i></td>
                    </tr>
                    <tr class="odd" *ngIf="totalRegistro < 1">
                      <td valign="top" colspan="24" class="dataTables_empty" style="text-align: center">Nenhum registro
                        correspondente encontrado
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- PAGINAÇÃO -->
              <hr-paginar [qtdPorPagina]="qtdPorPagina" [totalRegistros]="totalRegistro" [qtdAdjacentes]="3"
                (onPaginate)="paginar($event)" *ngIf="totalRegistro">
              </hr-paginar>
              <!-- FIM PAGINAÇÃO -->
              <label>Saldo Total: {{ saldoTotal | saldo }}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- inicio-modal-content -->
    <div class="modal fade" id="modal-default" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">Alterar Registros</h4>
          </div>
          <div class="modal-body">
            <div class="register-box-body">
              <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Chave de acesso" [(ngModel)]="chave">
                <span class="glyphicon 	glyphicon glyphicon-qrcode form-control-feedback"></span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
            <button type="button" (click)="novoPerfil()" class="btn btn-primary">Salvar novo Perfil</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <br />
  </section>
</div>